---
import { Github, Linkedin, Twitter } from 'lucide-react';
const isDarkMode = true; // TODO fix me
---

<footer class="fixed bottom-0 right-0 p-4 flex space-x-4">
  <!--&copy; {today.getFullYear()} Jan-Niklas Wortmann. All rights reserved.-->
  <a href="https://twitter.com/niklas_wortmann" target='_blank' aria-label="Twitter" class={`${isDarkMode ? 'text-coffee-light hover:text-coffee-accent' : 'text-coffee-dark hover:text-coffee-medium'} transition-colors`}>
    <Twitter />
  </a>
  <a href="https://github.com/niklas_wortmann" target='_blank' aria-label="GitHub" class={`${isDarkMode ? 'text-coffee-light hover:text-coffee-accent' : 'text-coffee-dark hover:text-coffee-medium'} transition-colors`}>
    <Github />
  </a>
  <a href="https://www.linkedin.com/in/jan-niklas-wortmann/" target='_blank' aria-label="LinkedIn" class={`${isDarkMode ? 'text-coffee-light hover:text-coffee-accent' : 'text-coffee-dark hover:text-coffee-medium'} transition-colors`}>
    <Linkedin />
  </a>
</footer>
