---
import { Icon } from 'astro-icon/components'
---


<div class="social-links">
  <a href="https://twitter.com/niklas_wortmann" target="_blank">
    <span class="sr-only">Follow Me on Twitter</span>
    <Icon name="mdi:twitter"/>
  </a>
  <a href="https://github.com/niklas_wortmann" target="_blank">
    <span class="sr-only">Follow Me on GitHub</span>
    <Icon name="mdi:github" />
  </a>
  <a href="https://www.linkedin.com/in/jan-niklas-wortmann/" target="_blank">
    <span class="sr-only">Follow Me on LinkedIn</span>
    <Icon name="mdi:linkedin" />
  </a>
</div>
<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
