---

import { getCollection } from 'astro:content';
import Layout from '../../components/Layout.astro';

const talks = (await getCollection('talk')).filter(x => x.data.public).sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);

const isDarkMode = true;

---

<Layout title='Talks by Jan-Niklas Wortmann' description='An Overview of All the Talks that Jan-Niklas gave Publicly' keywords={['Jan', "Jan-Niklas", "Jan-Niklas Wortmann", "Wortmann", "wordman", "talks", "public", "speaking", "conferences", "meetups", "public speaking"]}>
  <div class="min-h-screen">
    <h2 class={`text-4xl font-bold mb-8 ${isDarkMode ? 'text-coffee-accent' : 'text-coffee-dark'}`}>Recent Talks</h2>
    <div class="grid md:grid-cols-2 gap-8">
      {talks.map((talk) => (
        <div
          class='card'
        >
          <h3 class={`text-2xl font-bold mb-2 ${isDarkMode ? 'text-coffee-light' : 'text-coffee-dark'}`}>{talk.data.title} @ {talk.data.conf}</h3>
          <p class={`mb-4 ${isDarkMode ? 'text-coffee-text' : 'text-coffee-dark'}`}>{talk.data.description}</p>
          <a href={`/talk/${talk.slug}`} class={`${isDarkMode ? 'text-coffee-accent hover:text-coffee-light' : 'text-coffee-medium hover:text-coffee-dark'} hover:underline`}>Details</a>
        </div>
      ))}
    </div>
  </div>
</Layout>
