---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import { Icon } from 'astro-icon/components';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<Content />
  <hr>
  <section>
    <p>
      <h2>Thank You</h2>
      Thanks for making it all the way down here. I appreciate you taking the time! If you have any question, please don't hesitate to reach out to me!
    </p>
    <h2>Share on Social Media</h2>
    <div class='flex flex-row '>
      <a href="https://twitter.com/niklas_wortmann" target="_blank" class='flex flex-row items-center pr-2'>
        <Icon name="mdi:twitter"/> <span class='pl-1'>Twitter</span>
      </a>
      <a href="https://www.linkedin.com/in/jan-niklas-wortmann/" target="_blank" class='flex flex-row items-center'>
        <Icon name="mdi:linkedin" /><span class='pl-1'>LinkedIn</span>
      </a>
    </div>

  </section>
</BlogPost>
