---
import { getCollection } from 'astro:content';
import Layout from '../../components/Layout.astro';

const posts = (await getCollection('blog')).filter(x => x.data.public).sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);

const isDarkMode= true;
---

<Layout title='Blogs by Jan-Niklas Wortmann' description='An Overview of All the Blogs that Jan-Niklas wrote' keywords={['Jan', "Jan-Niklas", "Jan-Niklas Wortmann", "Wortmann", "wordman", "writing", "content", "blog", "post", "article"]}>
  <div class="min-h-screen">
    <h2 class={`text-4xl font-bold mb-8 ${isDarkMode ? 'text-coffee-accent' : 'text-coffee-dark'}`}>Recent Blogposts</h2>
    <div class="grid md:grid-cols-2 gap-8">
      {posts.map((post) => (
        <a href={`/blog/${post.slug}`}
          class={`p-6 rounded-lg shadow-lg ${
            isDarkMode ? 'bg-coffee-darker border border-coffee-medium' : 'bg-coffee-light border border-coffee-medium'
          }`}
        >
          <h3 class={`text-2xl font-bold mb-2 ${isDarkMode ? 'text-coffee-light' : 'text-coffee-dark'}`}>{post.data.title}</h3>
          <p class={`mb-4 ${isDarkMode ? 'text-coffee-text' : 'text-coffee-dark'}`}>{post.data.description}</p>
        </a>
      ))}
    </div>
  </div>
</Layout>
