---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import headshot from '../images/headshot.png';
import avatarImage from '../images/avatar.svg';
---

<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image="social/index-about.png"
    />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="container mx-auto flex items-center content">
      <Image
        src={headshot}
        alt="Headshot in black and white of Jan-Niklas Wortmann"
      />
      <section class="text-container">
        <span class="highlight-text">Hi! I am</span>
        <h1>Jan-Niklas Wortmann</h1>
        <span
          >As a Developer Advocate for JetBrains, Jan-Niklas Wortmann isn't just
          another coder—he's a code evangelist. With TypeScript as his weapon of
          choice, he's on a mission to make your dev life easier, one line at a
          time. Angular geek? He's got you covered. Obsessed with reactive
          programming? So is he. Outside of fine-tuning the developer experience
          at JetBrains, Jan is a Google Developer Expert for Angular and a part
          of the RxJS Core Team.
        </span>
      </section>
    </main>
    <Footer />
    <style>
      img {
        width: 50%;
      }
      .highlight-text {
        color: var(--bright-brown);
      }

      .container {
        min-height: calc(100vh - 136px - 80px);
      }

      .text-container {
        color: var(--white);
      }

      .content {
        & * {
          flex: 1;
        }
      }
    </style>
  </body>
</html>
