---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image="social/index-about.png"
    />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="container mx-auto flex items-center content">
      <section class="text-container">
        <span class="highlight-text">Hi! I am</span>
        <h1>Jan-Niklas Wortmann</h1>
        <span
          >I used to do IT Consulting for several Fortune 500 Companies.
          Nowadays I am working as Developer Advocate for JavaScript &
          TypeScript, aiming to help the community whenever possible!
        </span>
      </section>
      <img
        src="/avatar.svg"
        alt="Logo of the Website, which is showing a software developer with a nice cup of coffee"
      />
    </main>
    <Footer />
    <style>
      .highlight-text {
        color: var(--bright-brown);
      }

      .container {
        min-height: calc(100vh - 136px - 80px);
      }

      .text-container {
        color: var(--white);
      }

      .content {
        & * {
          flex: 1;
        }
      }
    </style>
  </body>
</html>
