
:root {
  --primary: #2e1d1e;
  --accent: #185182;
  --test: #0000ee;
  --black: #000004;
  --white: #fdfaf1;
  --gray: #d5cfd0;
  --light-orange: #ffa67b;
  --muted-orange: #e17a5a;
  --bright-orange: #ff774b;
  --light-brown: #d37938;
  --muted-brown: #d07654;
  --bright-brown: #bf613c;
  --dark-brown: #8f533e;
  --muted-accent: #319ada;
  --light-accent: #d9f9fe;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --accent-gradient: linear-gradient(
    1.15deg,
    var(--muted-accent) -7.47%,
    var(--light-accent) 99.02%
  );
}
@font-face {
  font-family: 'Playfair';
  src: url('/fonts/playfair-display-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair';
  src: url('/fonts/playfair-display-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Playfair', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  /*background: var(--primary);*/
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--white));
  font-size: 20px;
  line-height: 1.7;
  /*background-image: url('/background.webp');*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  background: rgb(255,166,123);
  background: radial-gradient(circle, #ffa67b 0%, #d07654 12%, #d07654 95%, #8f533e 99%);
}

main {
  width: 1280px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
  min-height: calc(100vh - 136px - 80px);
}

html{
  background: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--white);
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
  overflow: visible !important;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--accent);
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.text-accent {
  color: var(--accent);
}

.btn {
  @apply font-bold py-4 px-8;
  border-radius: 0.6em;
  text-align: center;
}

.btn-full-width {
  @apply w-full
}
.btn-blue {
  @apply  text-white;
  background: var(--accent);
}
.btn-blue:hover {
  background: var(--muted-accent);
}

code, kbd, samp, pre {
  font-family: JetBrains Mono, sans-serif;
}
code {
  overflow-x: auto !important;
}
a {
  background: inherit;
  font-style: italic;
}
a:hover {
  color: var(--white);
}
